[submodule "addons/mbe-crafting"]
	path = addons/mbe-crafting
	url = git@github.com:Parallax-Development/MBE-Crafting.git
[submodule "addons/mbe-ui"]
	path = addons/mbe-ui
	url = git@github.com:Parallax-Development/MBE-UI.git
[submodule "addons/mbe-wiring"]
	path = addons/mbe-wiring
	url = git@github.com:Parallax-Development/MBE-Wiring.git
