name: Build & Attach Artifact

on:
  workflow_run:
    workflows: ["Release Please"]
    types: [completed]

jobs:
  build:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - run: chmod +x gradlew
      - run: ./gradlew clean build

      - name: Upload JAR
        uses: softprops/action-gh-release@v2
        with:
          files: build/libs/*.jar
