name: Publish Release

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout release tag
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Build
        run: ./gradlew clean build -x test
        env:
          RELEASE_VERSION: ${{ github.event.release.tag_name }}


      - name: Upload JAR to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: build/libs/*.jar
